#home { background: #12171c url(images/bg-body-home.jpg) no-repeat 50% 0; }
#list { background: #12171c url(images/bg-body-list.jpg) no-repeat 50% 0; }

#nav-fashion a { background: url(images/sprite-nav-fashion.png) no-repeat; }
#nav-fashion a:hover,
#nav-fashion .nav-fashion-active { background-image: url(images/sprite-nav-fashion-active.png); }
#nav-fashion .comments { background-position: 0 0; }
#nav-fashion .viewpoint { background-position: -109px 0; }
#nav-fashion .makeup { background-position: -218px 0; }
#nav-fashion .pophit { background-position: -327px 0; }
#nav-fashion .elleshow { background-position: -436px 0; }
#nav-quick { background: url(images/bg-nav-left.png) no-repeat; }

#focus-slideshow-nav li a { background: url(images/sprite-slideshow-buttons.png) no-repeat; }
#focus-slideshow-nav .focus-slideshow-nav-active a { background-position: -15px 0; }

.show-schedule-prev,
.show-schedule-next { background: url(images/sprite-schedule-buttons.png) no-repeat; }
.show-schedule-prev { background-position: 0 0; }
.show-schedule-next { background-position: -21px 0; }
.show-time span { background: #ff0; }

.show-date a { background: url(images/sprite-schedule-default.png) no-repeat; }
.show-date-active a { background-image: url(images/sprite-schedule-active.png); }
.show-date-disabled a { cursor: default; background-image: url(images/sprite-schedule-disabled.png); }
.show-date-1 a { background-position: 0 0; }
.show-date-2 a { background-position: -126px 0 }
.show-date-3 a{ background-position: -252px 0; }
.show-date-4 a { background-position: -378px 0; }
.show-date-5 a { background-position: -504px 0; }
.show-date-6 a { background-position: -630px 0; }
.show-date-7 a { background-position: -756px 0; }
.show-date-8 a { background-position: -882px 0; }
.show-date-9 a { background-position: -1008px 0; }
.show-date-10 a { background-position: -1134px 0; }
.show-date-11 a { background-position: -1260px 0; }
.show-date-12 a { background-position: -1386px 0; }

.fashion-shop-content { border-top: solid 3px #ff0; }
#fashion-paging .fashion-paging-active a { color: #000; background: #ff0; }

#weibo { background: url(images/bg-weibo.png) no-repeat; }