#home { background: #12171c url(images/bg-body-home.jpg) no-repeat 50% 0; }
#list { background: #12171c url(images/bg-body-list.jpg) no-repeat 50% 0; }

#nav-fashion a { background: url(images/sprite-nav-fashion.png) no-repeat; }
#nav-fashion a:hover,
#nav-fashion .nav-fashion-active { background-image: url(images/sprite-nav-fashion-active.png); }
#nav-fashion .comments { background-position: 0 0; }
#nav-fashion .viewpoint { background-position: -109px 0; }
#nav-fashion .makeup { background-position: -218px 0; }
#nav-fashion .pophit { background-position: -327px 0; }
#nav-fashion .elleshow { background-position: -436px 0; }
#nav-quick { background: url(images/bg-nav-left.png) no-repeat; }

#focus-slideshow-nav li a { background: url(images/sprite-slideshow-buttons.png) no-repeat; }
#focus-slideshow-nav .focus-slideshow-nav-active a { background-position: -15px 0; }

.show-schedule-prev,
.show-schedule-next { background: url(images/sprite-schedule-buttons.png) no-repeat; }
.show-schedule-prev { background-position: 0 0; }
.show-schedule-next { background-position: -21px 0; }
.show-time span { background: #f9449a; }
/*
.show-schedule-date-item span { background: url(images/sprite-schedule-default.png) no-repeat; }
.show-schedule-date-selected span { background-image: url(images/sprite-schedule-selected.png); }
.show-schedule-date-disabled span { background-image: url(images/sprite-schedule-disabled.png); }
.show-schedule-date-item-1 span { background-position: 0 0; }
.show-schedule-date-item-2 span { background-position: 0 -70px; }
.show-schedule-date-item-3 span { background-position: 0 -140px; }
.show-schedule-date-item-4 span { background-position: 0 -210px; }
.show-schedule-date-item-5 span { background-position: 0 -280px; }
.show-schedule-date-item-6 span { background-position: 0 -350px; }
.show-schedule-date-item-7 span { background-position: 0 -420px; }
.show-schedule-date-item-8 span { background-position: 0 -490px; }
*/

.fashion-shop-content { border-top: solid 3px #f9449a; }
#fashion-paging .fashion-paging-active a { color: #000; background: #f9449a; }

#weibo { background: url(images/bg-weibo.png) no-repeat; }