body { font: 12px/1.4 Verdana, Arial, Helvetica, sans-serif; color: #666; }
a { text-decoration: none; color: #777; }

.clearfix { clear: both; }
.cleartext { text-indent: -9999px; overflow: hidden; }

/*
 * jquery jscrollpane plugin
 */
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 16px; height: 100%; background: red; }
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; }
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { display: none; }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack { background: #dde; position: relative; }
.jspDrag { background: #bbd; position: relative; top: 0; left: 0; cursor: pointer; }
.jspHorizontalBar .jspTrack, 
.jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; background: #80808d; }
.jspVerticalBar .jspArrow { height: 16px; }
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner { background: #eeeef4; float: left; height: 100%; }
/* for IE6 3 pixel bug */
* html .jspCorner { margin: 0 -3px 0 0; }

#container { width: 980px; margin: 0 auto; }
#header { height: 957px; position: relative; }
#content { margin-bottom: 80px; }
#footer { margin-bottom: 200px; text-align: center; line-height: 30px; background: url(images/bg-footer.png) no-repeat 50%; }

#fashionshow { width: 302px; position: absolute; top: 28px; right: 52px; }
#fashionshow-player { display: block; width: 100%; height: 204px; }
#fashionshow-title { display: block; margin-top: 5px; text-align: center; color: #fff; }

#nav-main { width: 932px; height: 517px; position: absolute; top: 379px; left: 23px; }
#nav-fashion { position: absolute; bottom: 0; left: 199px; }
#nav-fashion li { margin-right: 11px; float: left; }
#nav-fashion a { display: block; width: 109px; height: 60px; }
#nav-quick { width: 137px; height: 280px; padding: 72px 0 0 1px; position: absolute; top: 0; right: 100%; }
#nav-quick li { width: 111px; }
#nav-quick a { display: block; height: 55px; }
#nav-quick .focus { height: 53px; }
#nav-quick .show { height: 54px; }

#focus { height: 558px; padding-top: 104px; position: relative; overflow: hidden; }
#focus-more { width: 90px; height: 39px; position: absolute; top: 65px; right: 0; }
#focus-left, 
#focus-right { width: 245px; height: 558px; overflow: hidden; }
#focus-left { float: left; }
#focus-right { float: right; }
#focus-center { width: 490px; height: 526px; margin-top: 16px; position: relative; float: left; }
#focus-slideshow { width: 100%; height: 506px; overflow: hidden; }
#focus-slideshow-title { width: 485px; height: 75px; padding-top: 5px; line-height: 1.2; text-align: center; color: #fff; background: url(images/bg-slideshow-overlay.png) no-repeat 50% 0; position: absolute; left: 0; bottom: 60px; z-index: 99; }
#focus-slideshow-title span,
#focus-slideshow-title strong { display: block; font-weight: 700;  }
#focus-slideshow-title span { font-size: 22px; }
#focus-slideshow-title strong { font-size: 28px; }
#focus-slideshow-nav { height: 15px; padding: 5px 0 0 202px; text-align: center; background: #f0eee2; overflow: hidden; }
#focus-slideshow-nav li { margin-right: 5px; float: left; }
#focus-slideshow-nav a { display: block; width: 10px; height: 10px; text-indent: -999px; overflow: hidden; }

#show { height: 600px; padding-top: 90px; position: relative }
#show-more { width: 90px; height: 39px; position: absolute; top: 30px; right: 0; }
#show-schedule { width: 938px; margin: 0 auto 13px; }
.show-date { width: 126px; height: 70px; padding: 0 4px; float: left; }
.show-date a { display: block; height: 100%; }
.show-schedule-prev,
.show-schedule-next { display: block; width: 16px; height: 27px; text-indent: -999px; overflow: hidden; }
#show-content li { width: 154px; margin-right: 11px; float: left; }
#show-content .show-item-last { margin: 0; }
.show-time { color: #fff; }
.show-time span { margin-right: 3px; }
.show-gallery { display: block; width: 154px; height: 427px; overflow: hidden; position: relative; }
.show-gallery span { display: none; width: 154px; height: 28px; background: url(images/bg-schedule-item.png) no-repeat; position: absolute; bottom: 0; left: 0; }
.show-gallery:hover span { display: block; }
.show-name { display: block; height: 52px; overflow: hidden; font-weight: 700; text-align: center; color: #fff; background: #000; }

#editors-hit { height: 173px; padding: 59px 292px 0 165px; position: relative; }
#editors-hit-header { height: 50px; background: url(images/bg-split-line.png) repeat-x 0 100%; position: relative; overflow: hidden; }
#editors-hit-more { font-weight: 700; position: absolute; bottom: 8px; right: 15px; }
#editors-hit-content { padding-top: 8px; font-size: 14px; line-height: 1.6; }
#editors-hit-content h3 { font-weight: 700; color: #000; }
#editors-hit-editor { width: 136px; height: 210px; overflow: hidden; position: absolute; top: 8px; left: 16px; }
#editors-hit-pic { width: 252px; height: 218px; overflow: hidden; position: absolute; top: 0; right: 24px; }

#fashion { padding-top: 102px; margin-bottom: 45px; position: relative; }
#fashion-more { width: 90px; height: 39px; position: absolute; top: 38px; right: 0; }
#fashion-city { width: 980px; overflow: hidden; }
.fashion-street { width: 230px; margin-right: 20px; float: left; }
.fashion-street-last { margin: 0; }
.fashion-shop { margin-bottom: 10px; }
.fashion-shop-header { height: 20px; margin-bottom: 5px; background: url(images/sprite-fashionshow-headers.png) no-repeat; }
.fashion-shop-header a { display: block; height: 100%; }
.fashion-shop-comment { background-position: 0 0; }
.fashion-shop-viewpoint { background-position: 0 -24px; } 
.fashion-shop-makeup { background-position: 0 -47px; } 
.fashion-shop-pophit { background-position: 0 -71px; }
.fashion-shop-desc { margin-top: -20px; padding: 25px 10px 10px; font-size: 14px; color: #fff; background: url(images/bg-fashion-item.png) no-repeat; position: relative; }
.fashion-shop-share { margin-top: 10px; overflow: hidden; }
.fashion-shop-share li { margin-left: 8px; float: right; }
.fashion-shop-share a { display: block; width: 16px; height: 16px; background: url(images/sprite-icons-weibo.png) no-repeat; }
.fashion-shop-share .elle { background-position: 0 0; } 
.fashion-shop-share .qq-space { background-position: 0 -21px; } 
.fashion-shop-share .qq-weibo { background-position: 0 -42px; } 
.fashion-shop-share .sina { background-position: 0 -63px; } 
.fashion-shop-share .renren { background-position: 0 -84px; }

#fashion-paging { height: 46px; text-align: center; background: #e2e2e2; }
#fashion-paging ul { padding-top: 10px; }
#fashion-paging li { display: inline; }
#fashion-paging a { display: inline-block; }
#fashion-paging .fashion-paging-item { padding: 2px 6px; margin: 0 3px; font-size: 20px; line-height: 100%; color: #666; }
#fashion-paging .fashion-paging-button { width: 15px; height: 16px; margin: 0 18px; }
/*for ie6, ie7*/
#fashion-paging .fashion-paging-button { *margin-bottom: 3px; }

#weibo { height: 606px; position: relative; }
#weibo-mag-editor { left: 15px; }
#weibo-web-editor { left: 333px; }
.weibo-editors { width: 306px; height: 428px; padding-top: 42px; position: absolute; top: 86px; }
.weibo-editors-content { width: 100%; height: 100%; overflow: hidden; }

.weibo-editors-content .jspVerticalBar { width: 8px; }
.weibo-editors-content .jspTrack { background: #EAEAEA; }
.weibo-editors-content .jspDrag { background: #CFCFCF; }

.weibo-editors-item { width: 270px; padding: 10px 10px 0 18px; }
.weibo-editors-item-inner { padding-bottom: 18px; background: url(images/bg-split-line.png) repeat-x 0 100%; }
.weibo-editors-item-noline { background: none; }
.weibo-editors-avatar { float: left; }
.weibo-editors-avatar img { padding: 2px; border: solid 1px #e6e6e6; background: #fff; }
.weibo-editors-detail { width: 198px; float: right; }
.weibo-editors-name { font-weight: 700; }
.weibo-editors-msg { margin-bottom: 15px; color: #666; }
.weibo-editors-msg a { color: #666; }

#weibo-elle { width: 304px; height: 514px; position: absolute; top: 72px; right: 15px; }
#weibo-elle-info { position: absolute; top: 12px; left: 11px; font-size: 14px; }
#weibo-elle-avatar { width: 101px; height: 101px; padding: 5px 5px 6px 6px; margin-right: 10px; background: #fff; float: left;  }
#weibo-elle-info dt { width: 170px; margin-bottom: 5px; font-weight: 700; float: left; }
#weibo-elle-name { font-weight: 700; float: left; }
#weibo-elle-name a { color: #fff; }
#weibo-elle-watching { width: 63px; height: 24px; position: absolute; top: 81px; left: 137px; }
#weibo-elle-msg { width: 230px; font-size: 14px; line-height: 1.6; color: #666; position: absolute; top: 172px; left: 31px; }
#weibo-elle-more { width: 72px; height: 20px; position: absolute; top: 351px; left: 196px; }

#list #fashion { margin-top: 61px; }
