body { font: 12px/1.4 Verdana, Arial, Helvetica, sans-serif; color: #666; }
a { text-decoration: none; color: #777; }

.clearfix { clear: both; }
.cleartext { text-indent: -9999px; overflow: hidden; }

/*
 * jquery jscrollpane plugin
 */
.jspContainer { overflow: hidden; position: relative; }
.jspPane { position: absolute; }
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 16px; height: 100%; background: red; }
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; }
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { display: none; }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack { background: #dde; position: relative; }
.jspDrag { background: #bbd; position: relative; top: 0; left: 0; cursor: pointer; }
.jspHorizontalBar .jspTrack, 
.jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrow.jspDisabled { cursor: default; background: #80808d; }
.jspVerticalBar .jspArrow { height: 16px; }
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspCorner { background: #eeeef4; float: left; height: 100%; }
/* for IE6 3 pixel bug */
* html .jspCorner { margin: 0 -3px 0 0; }

/*
 * wrapper
 */
#container { width: 980px; margin: 0 auto; }
#header { height: 957px; position: relative; }
#content { margin-bottom: 80px; }
#footer { margin-bottom: 250px; text-align: center; color: #fff; }

/*
 * top-right video
 */
#fashionshow { width: 302px; position: absolute; top: 28px; right: 52px; }
#fashionshow-player { display: block; width: 100%; height: 204px; }
#fashionshow-title { display: block; margin-top: 5px; text-align: center; color: #fff; }

/*
 * all navigation
 */
#nav-main { width: 932px; height: 517px; position: absolute; top: 379px; left: 23px; }
#nav-fashion { position: absolute; bottom: 0; left: 199px; }
#nav-fashion li { margin-right: 11px; float: left; }
#nav-fashion a { display: block; width: 109px; height: 60px; }
#nav-quick { display: none; width: 137px; height: 280px; padding: 72px 0 0 1px; position: absolute; top: 0; right: 100%; }
#nav-quick li { width: 111px; }
#nav-quick a { display: block; height: 55px; }
#nav-quick .focus { height: 53px; }
#nav-quick .show { height: 54px; }

/*
 * today's focus
 */
#focus { height: 558px; padding-top: 104px; position: relative; overflow: hidden; }
#focus-more { width: 90px; height: 39px; position: absolute; top: 65px; right: 0; }
#focus-left { float: left; }
#focus-right { float: right; }
#focus-center { width: 490px; height: 526px; margin-top: 16px; position: relative; float: left; }
#focus-slideshow { width: 100%; height: 506px; overflow: hidden; }
#focus-slideshow-title { width: 485px; height: 75px; padding-top: 5px; line-height: 1.2; text-align: center; color: #fff; background: url(images/bg-slideshow-overlay.png) no-repeat 50% 0; position: absolute; left: 0; bottom: 60px; z-index: 99; }
#focus-slideshow-title span,
#focus-slideshow-title strong { display: block; font-weight: 700;  }
#focus-slideshow-title span { font-size: 22px; }
#focus-slideshow-title strong { font-size: 28px; }
#focus-slideshow-nav { height: 15px; padding: 5px 0 0 202px; text-align: center; background: #f0eee2; overflow: hidden; }
#focus-slideshow-nav li { margin-right: 5px; float: left; }
#focus-slideshow-nav a { display: block; width: 10px; height: 10px; text-indent: -999px; overflow: hidden; }

/*
 * show schedule
 */
#show { height: 600px; padding-top: 90px; position: relative }
#show-more { width: 90px; height: 39px; position: absolute; top: 30px; right: 0; }
#show-schedule { width: 938px; margin: 0 auto 13px; }
.show-date { width: 126px; height: 70px; padding: 0 4px; float: left; }
.show-date a { display: block; height: 100%; }
.show-schedule-prev,
.show-schedule-next { display: block; width: 16px; height: 27px; text-indent: -999px; overflow: hidden; }
#show-content li { width: 154px; margin-right: 11px; float: left; }
#show-content .show-item-last { margin: 0; }
.show-time { color: #fff; }
.show-time span { margin-right: 3px; padding: 0 2px; color: #000; }
.show-gallery { display: block; width: 154px; height: 427px; position: relative; }
.show-gallery span { display: none; width: 100%; height: 28px; background: url(images/bg-schedule-item.png) no-repeat; position: absolute; bottom: 0; left: 0; }
.show-name { display: block; height: 52px; overflow: hidden; font-weight: 700; text-align: center; color: #fff; background: #000; }

/*
 * editor's hit
 */
#editors-hit { height: 173px; padding: 59px 292px 0 165px; position: relative; }
#editors-hit-header { height: 50px; background: url(images/bg-split-line.png) repeat-x 0 100%; position: relative; overflow: hidden; }
#editors-hit-more { font-weight: 700; position: absolute; bottom: 8px; right: 15px; }
#editors-hit-content { padding-top: 8px; font-size: 14px; line-height: 1.6; }
#editors-hit-content h3 { font-weight: 700; color: #000; }
#editors-hit-editor { position: absolute; top: 8px; left: 16px; }
#editors-hit-pic { position: absolute; top: 0; right: 24px; }

/*
 * fashion view
 */
#fashion { padding-top: 102px; margin-bottom: 45px; position: relative; }
#fashion-more { width: 90px; height: 39px; position: absolute; top: 38px; right: 0; }
#fashion-city { width: 980px; margin-bottom: 15px; overflow: hidden; }
.fashion-street { width: 230px; margin-right: 20px; float: left; }
.fashion-street-last { margin: 0; }
.fashion-shop { margin-bottom: 15px; }
.fashion-shop-header { height: 20px; margin-bottom: 5px; }
.fashion-shop-header a { display: block; height: 100%; background: url(images/sprite-fashionshow-headers.png) no-repeat; }
.fashion-shop-header .comments { background-position: 0 0; }
.fashion-shop-header .viewpoint { background-position: 0 -24px; } 
.fashion-shop-header .makeup { background-position: 0 -47px; } 
.fashion-shop-header .pophit { background-position: 0 -71px; }
.fashion-shop-desc { margin-top: -20px; padding: 25px 10px 10px; font-size: 14px; color: #fff; background: url(images/bg-fashion-item.png) no-repeat; position: relative; }
.fashion-shop-share { width: 100%; margin-top: 10px; overflow: hidden; }
.fashion-shop-share li { margin-left: 8px; float: right; }
.fashion-shop-share a { display: block; width: 16px; height: 16px; background: url(images/sprite-icons-weibo.png) no-repeat; }
.fashion-shop-share .elle { background-position: 0 0; } 
.fashion-shop-share .qq-space { background-position: 0 -21px; } 
.fashion-shop-share .qq-weibo { background-position: 0 -42px; } 
.fashion-shop-share .sina { background-position: 0 -63px; } 
.fashion-shop-share .renren { background-position: 0 -84px; }
#fashion-paging { text-align: center; }
#fashion-paging li { display: inline; }
#fashion-paging a { padding: 0 8px; margin: 0 5px; font-size: 30px; }

/*
 * what's new
 */
#weibo { height: 490px; padding-top: 63px; line-height: 1.5; overflow: hidden; }
#weibo-observers { margin-right: 17px; }
#weibo-editors { margin-right: 15px; }
.weibo-logs { width: 316px; height: 448px; padding-top: 42px; float: left;}
.weibo-logs-content { width: 100%; height: 100%; overflow: hidden; }
.weibo-logs-content .jspVerticalBar { width: 8px; }
.weibo-logs-content .jspTrack { background: #EAEAEA; }
.weibo-logs-content .jspDrag { background: #CFCFCF; }
.weibo-log { width: 280px; padding: 10px 10px 0 18px; }
.weibo-log-content { padding-bottom: 18px; background: url(images/bg-split-line.png) repeat-x 0 100%; }
.weibo-log-last { background: none; }
.weibo-log-avatar { float: left; }
.weibo-log-avatar img { padding: 2px; border: solid 1px #e6e6e6; background: #fff; }
.weibo-log-detail { padding-left: 70px; }
.weibo-log-detail h3 { font-size: 14px; font-weight: 700; }
.weibo-log-detail h3,
.weibo-log-detail h3 a { color: #000; }
.weibo-log-detail p { margin-bottom: 15px; }
#weibo-elle { width: 316px; position: relative; float: right; }
#weibo-elle-avatar { position: absolute; top: -1px; left: 10px;  }
#weibo-elle-nickname { position: absolute; top: 26px; left: 132px; }
#weibo-elle-nickname strong { display: block; margin-bottom: 8px; font-size: 16px; color: #000; }
#weibo-elle-log { width: 272px; height: 237px; font-size: 14px; position: absolute; top: 133px; left: 22px; overflow: hidden; }
#weibo-elle-log-more { display: block; text-align: right; }
#weibo-elle-log-more a { font-size: 12px; text-decoration: underline; color: #0068b7; }

/*
 * list page
 */
#list #header { height: 712px; }
#list #fashion { padding-top: 201px; }
#list #fashion-more { top: 137px; }